@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: Barlow, Nunito, serif;
    font-size: 1em;
    color: #211d1d
}

header{
    margin: 0 auto;
    width: 650px;
}

h1{
    margin: 1rem;
    font-size: 2em;
    color: rgb(37, 81, 203);
    text-align: center;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset{

    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend{

    padding: 0.5rem;
    color: rgb(37, 105, 193);
    font-size: 1.3em;
}

label, input, button, select, textarea{

    font-family: Barlow, Nunito, sans-serif;
}

label{

    text-align: center;
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{

    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button{

    margin: 1rem;
    background-color: rgb(24, 89, 181);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2 rem;
}

button:hover{
    background-color: rgb(49, 6, 82);
}

footer{
    border-top: 1px solid #ccc;
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #56cbde;
}

.form-item{

    display:grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
}

.box{
    float: right;
}