body {
    font-family: Nunito Sans;
    max-width : 950px;
    padding : 20px;
}
h1, h2, h3, h4, h5, h6{

    font-family: Rubik;
    color: #404E7C
}

:root{
    --primary-color: #404E7C
    --secondary-color: #71B48D
    --accent1-color: #251F47
    --accent2-color: #86CB92 

    --heading-font: Rubik;
    --paragraph-font: Nunito Sans

    nav-background-color: #86CB92 
    nav-link-color: #71B48D
    nav-hover-link-color: #404E7C
    nav-hover-background-color: #251F47
}
header{

    padding : 20px;
    background-color : #251F47
}

p{
    padding: 25px;
}

nav{
    font-size: 1.2rem;
    margin : 5px;
    display: flex;
}

nav a{
    display: block;
    color: #71B48D
}

nav a:link, nav a:visited{
    color: #71B48D
}

nav a:hover {
    color: #404E7C
}

footer{
    text-align: center;
}