main{
    max-width: 800px;
    margin: 2px;
}

aside{
    border: 3px;
    padding: 5px;
    text-align: left;
    background-color: paleturquoise
}

main image{
    width: 200px;
    height: auto;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1{
    color:steelblue
}

img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding:0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* My FIRST CSS Comment */